/* navbar */
.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 100%;
    position: fixed;
    top:0;
    left:0;
    right:0;    
    border-bottom: 1px solid #4b4a4a;
    background-color: #141d35;
    z-index: 100;
  }
  .navbar h1 {
    color: #fff;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5rem;
  }
  .navbar .links {
    margin-left: auto;
    margin-right: 20rem;
    font-size: 25px;
    font-weight: bolder;
    font-family: Calibri, Cochin, Georgia, Times, 'Times New Roman', serif; 
  }
  
  .navbar a{
    text-decoration: none;
    color: #fff !important;

  }
  
  .navbar .links a {  
    margin-left: 26px;
    padding: 6px;
  }
  
  .navbar .links a:hover {
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
  }