@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import './styles/navbar.css';
@import './styles/home.css';


* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.content {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
